name: Flask CI/CD

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'
    
    - name: Install dependencies
      run: |
        pip install flask
        pip install gunicorn
        pip install requests
    
    - name: Make script executable
      run: chmod +x flaskapp/run_test.sh
    
    - name: Run tests
      run: |
        cd flaskapp
        ./run_test.sh
